* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#puzzle{
    width:510px;
    height:510px;
    position:relative;
    text-align:center;
    flex-wrap: wrap;
    align-items: center;


}


#puzzle input{
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    padding: 0;
    border: 3px solid ;
    color:darkslategrey;

}





.odd {
                background-color: rgb(238, 238, 238);
            }
