


#puzzle{
    width:350px;
    height:350px;
    position:relative;
    text-align:center;
    flex-wrap: wrap;
    align-items: center;


}


#puzzle input{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 30px;
    padding: 0;
    border: 3px solid ;
    color:darkslategrey;

}





.odd {
                background-color: rgb(238, 238, 238);
            }
